@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@font-face {
     font-family: 'Digital-7 Mono';
     src: url('path/to/your/Digital-7Mono.ttf');
}


body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     background-color: #f1f1f1;
     /* Light background color for neobrutalism */
     font-family: 'Orbitron', sans-serif;
}

#clock {
     font-family: 'Digital-7 Mono', sans-serif;
     font-size: 3em;
     color: #000;
     /* Black color for digits in neobrutalism */
     background-color: #f1f1f1;
     padding: 20px;
     border: 5px solid #333;
     /* Dark border for a bold look */
     border-radius: 15px;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
     /* Lighter shadow for neobrutalism */
}



#txt {
     display: inline-block;
}